body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.left-column {
    flex: 1;
    padding: 20px;
}

.right-column {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 24px;
}
/* Increase the size of the sprite images
.pokemon-result img {
    width: 500px; /* Set your desired width 
    height: auto; /* This will maintain the aspect ratio
    image-rendering: pixelated; /* Prevent smoothing/interpolation
}

/* Style the "Download" button 
.pokemon-result a {
    display: block; /* Display the button as a block element to separate it from the image 
    text-align: center; /* Center-align the button text
    margin-top: 10px; } /* Add some space between the image and the button */


/* Add more CSS styles for form elements and results as needed */
